.pdfGetter-container {
    width: 100%;
    max-width: 1120px;
    height: 90vh;
    margin: 5vh auto;

    box-shadow: 5px 5px 8px 2px rgba(40,40,40,0.7);
    border-radius: 8px;

    background: rgba(200,200,200,0.3);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfGetter-container #Close {
    display: none;
    width: 54px;
    height: 48px;
    margin-top: 0;
    
    background: #b00000;
    border: 1px solid #700000;

    position: fixed;
    top: 1vh;
    left: 10%;
    z-index: 20;
}

.pdfGetter-container #Close svg {
    margin: auto;
}

.pdfGetter-container [title=PdfPopUp] {
    display: none;
    width: 80%;
    height: 98vh;

    position: fixed;
    top: 1vh;
    left: 10%;
    z-index: 10;

    box-shadow: 0 0 10px 3px black;
    border-radius: 8px;
}

.pdfGetter-container section {
    width: 100%;
    padding: 72px;
}

.pdfGetter-container section h1 {
    color: #36352b;
    margin-bottom: 24px;
}

.pdfGetter-container section form {
    width: 100%;
}

.pdfGetter-container section form .input-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.pdfGetter-container section form .input-auth input:first-of-type {
    margin-right: 8px;
}
.pdfGetter-container section form select {
    margin-bottom: 8px;
}

.pdfGetter-container section form textarea {
    max-height: 55vh;
    margin-top: 8px;
}

.pdfGetter-container section form .input-conf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfGetter-container section form .input-conf #Conf {
    display: flex;
    margin-left: 8px;
    width: 25%;
}

.pdfGetter-container section form .input-conf #Conf svg {
    margin: auto;
}

.pdfGetter-container #pdfViewer {
    position: relative;
}

.pdfGetter-container #pdfViewer .errorMessage {
    display: none;
    flex-direction: column;
    width: 80%;
    min-height: 200px;
    padding: 16px;
    
    background: rgba(220, 20, 40, 0.8);
    border-radius: 8px;
    
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
}

.pdfGetter-container #pdfViewer .errorMessage h3 {
    margin-top: -8px;
    margin-bottom: 8px;

    text-shadow: #EEE 0 0 0.5px;
    color: #222;
}

.pdfGetter-container #pdfViewer .errorMessage #errorTxt {
    width: 100%;

    font: 700 14px sans-serif;
    text-shadow: #EEE 0 0 0.5px;
    color: #222;
}

.pdfGetter-container #pdfViewer .errorMessage #errorClose {
    width: 36px;
    height: 36px;
    margin-top: 0;
    display: flex;

    background: rgba(0, 0, 0, 0);
    border-radius: 8px;

    position: absolute;
    top: 0;
    right: 0;
}

.pdfGetter-container #pdfViewer .errorMessage #errorClose svg {
    margin: auto;
}

.pdfGetter-container #pdfViewer object {
    width: 100%;
    height: 65vh;
    border-radius: 8px;
}

.pdfGetter-container #pdfViewer .pdf-conf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfGetter-container #pdfViewer .pdf-conf #Expand {
    display: none;
    margin-right: 8px;
    width: 25%;
}

.pdfGetter-container #pdfViewer .pdf-conf #Expand svg {
    margin: auto;
}