.pdfGetter-container {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfGetter-container section {
    width: 100%;
    padding: 72px;
}

.pdfGetter-container section h1 {
    color: #36352b;
    margin-bottom: 24px;
}

.pdfGetter-container section form {
    width: 100%;
}

.pdfGetter-container section form .input-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.pdfGetter-container section form .input-auth input:first-of-type {
    margin-right: 8px;
}
.pdfGetter-container section form select {
    margin-bottom: 8px;
}

.pdfGetter-container section form .input-conf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pdfGetter-container section form .input-conf #Conf {
    display: flex;
    margin-left: 8px;
    width: 25%;
}

.pdfGetter-container section form .input-conf #Conf svg {
    margin: auto;
}

.pdfGetter-container section object {
    width: 100%;
    height: 70vh;
    border-radius: 8px;
}